<!-- start footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 d-flex justify-content-center">
                <a class="px-3" href="https://github.com/acrbaran" target="_blank">
                    <i-feather name="github" class="icon-xs"></i-feather>
                </a>
                <a class="px-3" href="https://www.linkedin.com/in/acarbaran/" target="_blank">
                    <i-feather name="linkedin" class="icon-xs"></i-feather>
                </a>
                <a class="px-3" href="https://github.com/kadirbastimar" target="_blank">
                    <i-feather name="github" class="icon-xs"></i-feather>
                </a>
                <a class="px-3" href="https://www.linkedin.com/in/kadirbastimar/" target="_blank">
                    <i-feather name="linkedin" class="icon-xs"></i-feather>
                </a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->