// 
// ourpricing.scss
// 
.price-box {
  .price-title {
      font-size: 36px;
  }
}

.pricing-bg {
    &:before {
      content: "";
      width: 100%;
      background-color: $light;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 50%;
      left: 0px;
    }
}